@using DotNetNuke.Web.DDRMenu;
@using DotNetNuke.Entities.Tabs;
@using DotNetNuke.Entities.Portals;
@using DotNetNuke.Entities.Content.Taxonomy;
@{ 
    var root = Model.Source.root; 

 }

@helper RenderNodes(IList<MenuNode> nodes)
{

    if (nodes.Count > 0)
    {
        <ul id="nav">
            @foreach (var node in nodes)
            {
                var classString = GetClasses(node);

                <li @classString>
                    @RenderItem(node)
                    @RenderNodes(node.Children)
                </li>
            }
        </ul>
    }
}
@helper RenderItem(MenuNode node)
{
    if (node.Enabled)
    {
    <a href="@node.Url">@node.Text</a>
    }
    else
    {
    @node.Text
    }
}

@functions{
    public int portalId = PortalController.GetCurrentPortalSettings().PortalId;
    public TabController tc = new TabController();

    public HtmlString GetClasses(MenuNode node)
    {
        List<string> cssClasses = GetClassList(node);
        return new HtmlString((cssClasses.Count == 0) ?
            String.Empty :
            ("class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));
    }
    
    public List<string> GetClassList(MenuNode node)
    {
        var classList = new List<string>();
        if (node.Selected) { classList.Add("selected"); }
        classList.AddRange(GetTerms(node));
        return classList;
    }

    public List<string> GetTerms(MenuNode node)
    {
        var classList = new List<string>();

        TabInfo tab = tc.GetTab(node.TabId, portalId, false);
        foreach (Term term in tab.Terms) {
            classList.Add(term.Name);
        }        
        return classList;
    }
    
}
@RenderNodes(root.Children)